<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Backend Development</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }
            .wrapper {
                position: relative;
                padding-bottom: 60px;
            }
            .footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 60px;
            }
        </style>
    </head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <nav>
        <!-- nav -->
    </nav>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
        <div class="push"></div>
    </div>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>