<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Backend Development</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'calculadora' %}">Calculadora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'criar-produto' %}">Adicionar Produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista-produtos' %}">Lista de Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'help' %}">Ajuda</a>
            </li>
        </ul>
    </div>
</nav>